@font-face {
  font-family: 'Petita';
  src: local('Petita'), url(./fonts/PetitaMedium.ttf) format('truetype');
}
::-webkit-scrollbar {
	width: 10px;
  background-color: #F5F5F5;
  display: none;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  border: 1px solid #a18759;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #fff, #e4e4e4);
  border: 1px solid #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA);
}
.justify-space-around{
  justify-content: space-around;
}

.gbname{
  font-size: 39px;
  font-weight: 700;
  line-height: 45px;
  /* font-stretch: expanded; */
  /* --font-family-monospace: auto; */
}
.animate{
  animation: animatecontainer 2s 1;
}
@keyframes animatecontainer{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
body {
  overflow-x: hidden;
  font-family:Petita;
}
i{
  color:#a18759;
}
a:hover{
  color:white;
}
/* .menu-hover:hover{
border-bottom: 4px solid #a18759;
border-radius:4px ;
color:white;
} */
.menu-hover-active{
  border-bottom: 4px solid #a18759;
  /* border-radius:4px ; */
  animation: fadein 2s 1;
  }
/* .menu-hover-active::after{
  animation: shine 1s .2s ease-in-out forwards;
} */
@keyframes fadein{
  0% {border-bottom-color:transparent;}
  100% {border-bottom-color: #a18759;}
  }

@keyframes shine{
  100% { transform: rotate(-30deg) translate(320%,120%);}
}
/* Bg image */
.menu-page{
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),  url("../../img/bg-1.png");
  background-repeat: no-repeat;
  background-position: center;
  height:100vh;
  background-size: cover; /* Resize the background image to cover the entire container */
}
.right-flower{
  background-image: url('../../img/right-flower.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:right bottom; 
}
.left-flower{
  background-image: url('../../img/left-flower.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:left bottom; 
}
.welcome-flower{
  position:absolute;
  left: -6.5em;
  top:60px;
}
.welcome-box-title{
  font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    text-align: left;
}
.welcome-border{
  border: solid 5px #a18759;
  margin-top: 110px;
}
.stay-btn{
  border:2px solid #a18759;
  border-radius:10px;
}
.faq{
  color:#c9831f;
}
.rsvp-text{
  font-weight: 700;
    /* font-weight: bold; */
    line-height: 40px;
}
.rsvp-button{
  background-color: #a18759;
  border-radius:0em !important;
  height: 62px;
  color:white;
  font-weight: normal;
    line-height: 22px;
    text-align: center;
  opacity: 1;
}
.rsvp-button:hover 
{opacity: 0.6;
color:white}
.rsvp-textbox:focus{
  outline: none;
  border-color:#8b5e10;
  /* box-shadow:0 0 10px #8b5e10; */
}
.left-flr{
  position: fixed;
  left: -1em;
  bottom: -7.8em;
}
.ourstory{
  height:100vh;
}
.resort{
  border:2px solid #a18759;
}
.resort-nav{
  border: 1px solid #33305C;
  border-radius: 4px;
  
}
.rsvp-textbox{
  border:white;
  border-bottom:1px solid grey;
  position: relative;
    top: 13px;
    width: 32em;
    height: 2.5em;
}
.top-usernames{
  float: left;
}
.logo{
  float:right;
}
.resort-nav-bottom{
  border-bottom:1px solid #33305c;
}
/* Top Head names */
.welcome-head {
    display: inline-block;
}
.welcome-head1 {
  position: relative;
    display: inline-block;
    font-size: 30px;
}

/* home page */
.home-text{
  color:white;
}
.arrow{
  padding:9px 12px 12px 15px;;
  border-radius: 50%;
  backdrop-filter: blur(10px);
  border:2px solid rgba(161, 156, 156, 0.18);
  position: relative;
  left: -2.5em;
  /* background-color: rgba(161, 156, 156, 0.18); */
}

/* welcome page */
.welcome-text{
  color:black;
  padding:100px
}
@media (max-width:1000px){
  .welcome-text{
    color:black;
    padding:50px
  }
}
/* ourstory */
.ourstory-text{
  font-size: 16px;
    line-height: 1.79;
    letter-spacing: normal;
    color: #33305c;
}
.ourstory-avt-text{
  color: #a18759;
}
.our-story-female-div{
  width:20vw;
  margin-left:-285px;
}
.our-story-male-div{
  width:20vw;
  margin-right:-285px;
}
/* FAQ */
.faq-text{
  padding: 0em 12em;
}
.events-text{
  padding-left:200px;
}
.events-left-text{
  width: 86px;
    /* height: 126px; */
    font-family: Petita;
    /* font-size: 15px; */
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    color: #333333;
}
@media (max-width:1000px){
  .faq-text{
    padding-left:170px;
  }
}
@media (max-width:800px){
  .faq-text{
    padding-left:100px;
  }
}
@media (max-width:700px){
  .faq-text{
    padding-left:20px;
  }
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  
  background-color:white;
  color:black;
}
.nav-link{
  padding: 0.5em 2em;
}
.menu-title{
  /* font-weight: 600; */
  color: #111111;
  /* font-family: PetitaMedium; */
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}
.vertical-divider{ 
  border:         none;
  background-color: #33305C;
  opacity: 0.2000000029802322;
  width: 1px;
  height: 472.65px;       
}
.nav-item {
  max-width: 187px;
    height: 40px;
    margin: 0.5em 2.0em;
}
.nav-link{
  width: fit-content;
}