body{
  overflow-x:hidden;
  font-family:PlayfairDisplay;;
}
/* First View */
.user-img{
  height:700px;
}
.details-div{
  padding:20px;
 background-color: #540203;
 height:700px;
}
.details-div-border{
height:650px;
  border: solid 1px rgba(247, 236, 132, 0.5);
}
.flower-top{
  position:absolute;
  right:0px;
}
.details-div-inner{
  margin-top:20%;
}
.details-div-date{
  color: #f7ec84;
}
.details-div-user{
  margin-top:30px;
  color:white;
}
@media (max-width:1200px){
  .details-div-inner{
    margin-top:30%;
  }
}
@media (max-width:900px){
  .details-div-inner{
    margin-top:40%;
  }
}
@media (max-width:700px){
  .details-div-inner{
    margin-top:60%;
  }
}
@media (max-width:574px){
  .details-div-inner{
    margin-top:30%;
  }
}
@media (max-width:390px){
  .details-div-inner{
    margin-top:50%;
  }
}
/* First View .*/
/* Second View */
.second-div{
  background-color: #fde8e8;
}

.ourstory-text{
  position:relative;
  bottom:145px;
  left:120px;
  color: #410203;
}
.story-details{
  margin-top:15%;
  padding-bottom:15%;
}
.readmorebtn{
  border-radius: 2px;
  border: solid 1px #540203;
  color: #540203;
}

@media (max-width:700px){
  .ourstory-text{
    position:relative;
    bottom:120px;
    left:95px;
    color: #410203;
  }
 
}
@media (max-width:575px){
  .ourstory-text {
    position: absolute;
    bottom: 43px;
    left: 226px;
    color: #410203;
}
.story-details{
  margin-top:0%;
  padding-bottom:15px;
}
.flower-second{
  margin-left:80px;
}
}
@media (max-width:400px){
  .ourstory-text {
    position: absolute;
    bottom: 43px;
    left: 186px;
    color: #410203;
}
  .flower-second{
    margin-left:20px;
  }
}
/* Second View */
/* third view */
.third{
background-image: url("../img/third.png");
background-color:#540203;
}
.third-round-img{
  margin-top: -44px;
  margin-left: 250px;
}
.event-schedule{
  font-family: Sunlight;
  color:white;
  margin-top:-80px;
   margin-left:150px;
}
.arrow{
  margin-top: -54px;
  margin-left: -43px;
}
.card-month{
  background-color:#fde8e8;
  width:45%;
  position:absolute;
  right:0px;
}
@media (max-width:500px){
  .third-round-img{
    margin-top: -44px;
    margin-left: 120px;
  }
  .event-schedule{
    font-family: Sunlight;
    color:white;
    margin-top:-80px;
     margin-left:55px;
  }
}
/* Fourth view */
.about-resort{
  position:absolute;
  left:140px;
  top:50px;
  color: #410203;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 30px;
  color:white;
}
@media (max-width:574px){
  .img-space{
  margin-top:40px;
  }
}
/* Fourth view */
/* Fifth view */
.fifth-div-round{
  margin-top: -84px;
  margin-left: -10px;
}
.textbox-email{
  border:white;
  border-bottom: 2px solid #410203;
  width:25%;
}
.rsvp-color{
  color: #410203;
}
/* Fifth view */
/* Sixth view */
.faq {
 width: 100px;
  background-color: #540203;
  color:white;
}
.question{
  color:#410203;
   font-family: PlayfairDisplay;
}
/* Sixth view */
/* Seventh View */
.footer-div{
  background-color:#480000;
}
.footer-text{
  color:white;
  font-family: ProximaNova;
}
.footer-content{
  margin-top:50px;
}
@media (max-width:576px){
  .footer-icon{
    margin-top:10px;
  }
}
/* Seventh View */